# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.ios.js
*.android.js
*.jbuilder
android/
ios/

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Misc
*.log
*.tsbuildinfo
opencode.*